header {
    background-color: seagreen;
    border: 2px solid rgb(12, 71, 38);
    color: white;
    padding: 8px 0;
    font-size: 24px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
img {
max-width: 40%;
}
footer {
    background-color: seagreen;
    border: 2px solid rgb(12, 71, 38);
    color: white;
    padding: 8px 0;
    font-size: 12px;
    text-align: center;
}
